In [1]:
import pandas as pd
import numpy as np

In [2]:
#Cargar los datos
df = pd.read_csv('data/precios-historicos.csv')

In [3]:
df.head()

,idempresa,empresa,direccion,localidad,provincia,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson,anio,mes
0,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4
1,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4
2,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7
3,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7
4,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1108.0,01/08/2024 13:40,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,8

In [4]:
# Valores unicos de la columna anio
anios = df['anio'].unique().tolist()

# Ordenar los anios de menor a mayor
anios.sort()

# Imprimir los anios
print(anios)

[1, 2, 3, 4, 5, 6, 7, 8, 17, 18, 19, 22, 23, 120, 201, 202, 207, 1157, 1218, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2027, 2028, 2029, 2030, 2031, 2044, 3201, 4201, 6202, 7202, 8202, 9202, 9920]

In [5]:
# Filtro solo los anios comprendidos entre 2001 y 2024
df = df[(df['anio'] >= 2001) & (df['anio'] <= 2024)]

In [6]:
df.head()

,idempresa,empresa,direccion,localidad,provincia,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson,anio,mes
0,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4
1,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4
2,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7
3,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7
4,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1108.0,01/08/2024 13:40,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,8

In [7]:
# Valores unicos de la columna anio
anios = df['anio'].unique().tolist()

# Ordenar los anios de menor a mayor
anios.sort()

# Imprimir los anios
print(anios)

[2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [8]:
# Crear la columna 'fecha' combinando 'anio' y 'mes' como una cadena
df['fecha'] = pd.to_datetime(df['anio'].astype(str) + '-' + df['mes'].astype(str) + '-01')

In [9]:
df.head()

,idempresa,empresa,direccion,localidad,provincia,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson,anio,mes,fecha
0,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4,2024-04-01
1,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4,2024-04-01
2,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7,2024-07-01
3,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7,2024-07-01
4,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1108.0,01/08/2024 13:40,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,8,2024-08-01

In [10]:
# Establecer la columna 'fecha' como índice
df.set_index('fecha', inplace=True)

In [11]:
df.head()

,idempresa,empresa,direccion,localidad,provincia,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson,anio,mes
fecha,,,,,,,,,,,,,,,,,,
2024-04-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4
2024-04-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,4
2024-07-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7
2024-07-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,7
2024-08-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1108.0,01/08/2024 13:40,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",2024,8

In [12]:
# Elimino las columnas anio y mes
df.drop(columns=['anio', 'mes'], inplace=True)

In [13]:
df.head()

,idempresa,empresa,direccion,localidad,provincia,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson
fecha,,,,,,,,,,,,,,,,
2024-04-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2024-04-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,985.0,01/04/2024 10:11,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2024-07-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2024-07-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,3,Nocturno,1080.0,01/07/2024 09:43,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2024-08-01,1376,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,19,Gas Oil Grado 2,2,Diurno,1108.0,01/08/2024 13:40,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."

In [14]:
# Vemos si hay valores nulos
df.isnull().sum()

idempresa              0
empresa                0
direccion              0
localidad              0
provincia              0
idproducto             0
producto               0
idtipohorario          0
tipohorario            0
precio                 0
fecha_vigencia         0
idempresabandera       0
empresabandera         0
latitud             1536
longitud            1536
geojson             1536
dtype: int64

In [15]:
# Elimino la columna idempresa, empresa, direccion, localidad y provincia
df.drop(columns=['idempresa', 'empresa', 'direccion', 'localidad', 'provincia'], inplace=True)

In [16]:
# Elimino la columna idproducto
df.drop(columns=['idproducto'], inplace=True)

In [17]:
# Elimino la columna idtipohorario y tipohorario
df.drop(columns=['idtipohorario', 'tipohorario'], inplace=True)

In [18]:
# Elimino las fecha_vigencia, idempresabandera, empresabandera
df.drop(columns=['fecha_vigencia', 'idempresabandera', 'empresabandera'], inplace=True)

In [19]:
# Elimino las columnas latitud, longitud y geojson
df.drop(columns=['latitud', 'longitud', 'geojson'], inplace=True)

In [20]:
df.head()

                   producto  precio
fecha
2024-04-01  Gas Oil Grado 2   985.0
2024-04-01  Gas Oil Grado 2   985.0
2024-07-01  Gas Oil Grado 2  1080.0
2024-07-01  Gas Oil Grado 2  1080.0
2024-08-01  Gas Oil Grado 2  1108.0

In [21]:
# Extraigo los valores unicos de la columna producto
df['producto'].unique()

array(['Gas Oil Grado 2', 'Gas Oil Grado 3', 'GNC',
       'Nafta (premium) de más de 95 Ron',
       'Nafta (súper) entre 92 y 95 Ron'], dtype=object)

In [22]:
# Filtro solo los productos = 'Nafta (premium) de más de 95 Ron'
df_nafta_premium = df[df['producto'] == 'Nafta (premium) de más de 95 Ron'].copy()
df_nafta_premium.shape

(672443, 2)

In [23]:
df_nafta_premium.head()

                                    producto  precio
fecha
2024-04-01  Nafta (premium) de más de 95 Ron  1158.0
2024-04-01  Nafta (premium) de más de 95 Ron  1158.0
2024-07-01  Nafta (premium) de más de 95 Ron  1289.0
2024-07-01  Nafta (premium) de más de 95 Ron  1289.0
2024-08-01  Nafta (premium) de más de 95 Ron  1320.0

In [24]:
# Elimino la columna producto
df_nafta_premium.drop(columns=['producto'], inplace=True)

In [25]:
df_nafta_premium.head()

            precio
fecha
2024-04-01  1158.0
2024-04-01  1158.0
2024-07-01  1289.0
2024-07-01  1289.0
2024-08-01  1320.0

In [26]:
# dimension del dataframe
df_nafta_premium.shape

(672443, 1)

In [27]:
# Extraigo solo las filas comprendidas entre 2020-01-01 y 2023-12-31
#df_nafta_premium = df_nafta_premium[(df_nafta_premium.index >= '2020-01-01') & (df_nafta_premium.index <= '2023-12-31')]
#df_nafta_premium = df_nafta_premium[(df_nafta_premium.index >= '2021-01-01') & (df_nafta_premium.index <= '2023-12-31')]
df_nafta_premium = df_nafta_premium[(df_nafta_premium.index >= '2003-01-01') & (df_nafta_premium.index <= '2014-12-31')]

In [29]:
df_nafta_premium.shape

(32, 1)

In [33]:
# Cálculo de promedios mensuales
df_nafta_premium.resample(rule='MS').mean()

            precio
fecha
2003-11-01  353.20
2003-12-01     NaN
2004-01-01     NaN
2004-02-01     NaN
2004-03-01     NaN
...            ...
2013-08-01     NaN
2013-09-01     NaN
2013-10-01     NaN
2013-11-01    9.97
2013-12-01   10.82

[122 rows x 1 columns]

In [ ]:
df_nafta_premium.resample('ME').mean().plot.bar(title='Ventas promedio por mes en 2020 a 2024');

In [ ]:
# Cálculo de promedios mensuales en un nuevo dataframe
df_promedio_mensual = df_nafta_premium.groupby('fecha')['precio'].mean().reset_index()

In [ ]:
# Veo si la fila de la fecha 2001-11-30 existe en el dataframe
lista = (df_promedio_mensual['fecha'] == '2001-11-30').to_list()

In [ ]:
type(df_promedio_mensual)

In [ ]:
# Valores nulos
df_promedio_mensual.isnull().sum()

In [ ]:
df_promedio_mensual.set_index('fecha', inplace=True)
# Ordenar el índice cronológicamente (importante para series temporales)
df_promedio_mensual.sort_index(inplace=True)

In [ ]:
df_promedio_mensual.plot();

In [ ]:
df_promedio_mensual.head()

In [ ]:
df_promedio_mensual.shape

In [ ]:
import scipy.stats
import pylab
import matplotlib.pyplot as plt

In [ ]:
# Grafico el qqplot
scipy.stats.probplot(df_promedio_mensual.precio, plot=pylab)
plt.title("QQ Plot", size = 24)
plt.show

In [ ]:
import statsmodels.graphics.tsaplots as sgt 
import statsmodels.tsa.stattools as sts 
from statsmodels.tsa.seasonal import seasonal_decompose

import statsmodels.graphics.tsaplots as sgt
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.arima.model import ARIMA
from scipy.stats.distributions import chi2
import statsmodels.tsa.stattools as sts

### Prueba de estacionariedad

#### Prueba de Dickey-Fuller aumentada (ADF)

In [ ]:
sts.adfuller(df_promedio_mensual['precio'])

Tatare de hacerla estacionaria

In [ ]:
import statsmodels.graphics.tsaplots as sgt 
import statsmodels.tsa.stattools as sts 
from statsmodels.tsa.seasonal import seasonal_decompose

import statsmodels.graphics.tsaplots as sgt
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.arima.model import ARIMA
from scipy.stats.distributions import chi2
import statsmodels.tsa.stattools as sts

In [ ]:
def check_stationarity(series, name=""):
    result = sts.adfuller(series.dropna())
    print(f'Prueba ADF para {name}:')
    print(f'Estadístico: {result[0]:.4f}')
    print(f'p-valor: {result[1]:.4f}')
    print(f'Valores críticos:')
    for key, value in result[4].items():
        print(f'   {key}: {value:.4f}')
    
    # Interpretar resultado
    if result[1] <= 0.05:
        print(f"Conclusión: La serie {name} es estacionaria (p-valor <= 0.05)")
    else:
        print(f"Conclusión: La serie {name} no es estacionaria (p-valor > 0.05)")
    print("-" * 50)
    return result[1] <= 0.05

In [ ]:
# Función para graficar series
def plot_series(original, transformed, title="Comparación de Series"):
    plt.figure(figsize=(12, 6))
    plt.subplot(211)
    plt.plot(original)
    plt.title("Serie Original")
    plt.subplot(212)
    plt.plot(transformed, color='red')
    plt.title(title)
    plt.tight_layout()
    plt.show()

In [ ]:
# Verificar la serie original
print("ANÁLISIS DE LA SERIE ORIGINAL")
is_stationary = check_stationarity(df_promedio_mensual, "original")

In [ ]:
# 1. DIFERENCIACIÓN
print("\n1. MÉTODO DE DIFERENCIACIÓN")
# Primera diferencia
diff1 = df_promedio_mensual.diff().dropna()
is_stationary_diff1 = check_stationarity(diff1, "primera diferencia")
plot_series(df_promedio_mensual, diff1, "Primera Diferencia")

PACF

In [ ]:
sgt.plot_pacf(diff1, zero = False, lags = 40)
plt.title("PACF para precio", size = 20)
plt.show()

Basado en el gráfico PACF (Función de Autocorrelación Parcial) para la serie de precios que has compartido, puedo ofrecer la siguiente interpretación:

1. La primera observación (lag 0) muestra una correlación parcial negativa significativa de aproximadamente -0.55. Esto indica una relación inversa fuerte entre el valor actual y el primer rezago.

2. Después del primer rezago, las autocorrelaciones parciales son muy cercanas a cero y permanecen dentro de las bandas de confianza (la región sombreada en azul claro).

3. No hay otros rezagos que muestren correlaciones parciales estadísticamente significativas, ya que ningún otro punto sobrepasa las bandas de confianza.

Esta estructura de PACF sugiere que:

- Tu serie de tiempo probablemente sigue un proceso autorregresivo de orden 1 (AR(1)) con un coeficiente negativo.
- No hay evidencia de dependencias parciales significativas en rezagos mayores.
- La serie parece estar bien explicada considerando solo el primer rezago.

Para un modelo de pronóstico, estos resultados indicarían que un modelo ARIMA con componente AR(1) podría ser apropiado, aunque sería necesario examinar también el gráfico ACF para una evaluación completa del modelo adecuado.

In [ ]:
from pmdarima import auto_arima
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
# Determinar los índices de división
# Si diff1 es un DataFrame con índice de fechas:
train = diff1[:'2010-12-31']
test = diff1['2011-01-01':]

In [ ]:
# Entrenar el modelo con los datos de entrenamiento
modelo = auto_arima(train, d=0, seasonal=False, stepwise=True)

In [ ]:
print(modelo.summary())

In [ ]:
# Hacer predicciones para el período de prueba
n_periodos = len(test)
predicciones = modelo.predict(n_periods=n_periodos)

In [ ]:
# Evaluar el modelo
mse = mean_squared_error(test, predicciones)
rmse = np.sqrt(mse)
mae = mean_absolute_error(test, predicciones)

print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"MAE: {mae:.2f}")

# Visualizar resultados
plt.figure(figsize=(12, 6))
plt.plot(train, label='Entrenamiento (2001-2015)')
plt.plot(test, label='Actual (2016-2024)')
plt.plot(test.index, predicciones, label='Predicciones', color='red')
plt.legend()
plt.title('Evaluación del modelo ARIMA: Predicciones vs Valores reales')
plt.show()